Adafruit-DHT==1.4.0
asgiref==3.5.2
atmos==0.2.6
certifi==2022.6.15
Django==4.1
image==1.5.33
influxdb-client==1.31.0
nose==1.3.7
numexpr==2.8.3
numpy==1.23.1
packaging==21.3
Pillow==9.2.0
pimoroni-sgp30==0.0.2
Pint==0.19.2
psutil==5.9.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.20.0
RPi.GPIO==0.7.1
Rx==3.2.0
six==1.16.0
smbus==1.1.post2
smbus2==0.4.2
spidev==3.5
sqlparse==0.4.2
urllib3==1.26.11
